//COLORS

$color-black: #000;
$color-grey-dark-1:#757575;
$color-grey-dark-2: #404040;

$color-board-results: #021200;

$color-green-dark: #064200;
$color-green-dark-2: #0A6501;
$color-green-dark-3: #1F8314;
$color-green-light: #35A02A;
$color-green-light-2: #56B74C;

$color-white: #fff;
$color-white-2: #faf9f9;
$color-white-3: #f0eeee;

$color-sun: #FF7F00;
$color-yellow: yellow;

//FONT
$default-font-size:  1.6rem;

